module.exports = {
	// Enable CSRF checks for selected login routes 
	csrfCheck: true,
    
    // EMAIL TRANSPORT
    // REQUIRED
    // google will complain first time and you will need to enable insecure apps on the email account :(
    // check the src for alternate email configurations (based on [nodemailer](https://nodemailer.com/)
    mailFrom:['USER@gmail.com'],
    transport :{
      service: 'gmail',
      auth: {
        user: 'USER@gmail.com',
        pass: 'userpassword'
      }
    },

   // API KEYS FOR EXTERNAL AUTHENTICATION
   // OPTIONAL
   googleClientId:'aaa', // blahblah.apps.googleusercontent.com',
   googleClientSecret:'aaa',
   twitterConsumerKey:'aaa',
   twitterConsumerSecret:'aaa',
   facebookAppId: 'aaa',
   facebookAppSecret: 'aaa',
   instagramClientId: 'aaa',
   instagramClientSecret: 'aaa',
   githubClientId: 'aaa',
   githubClientSecret: 'aaa',


   // REQUIRED (default ok for demo)
   // USED for generating email links for confirm registration/recover password
   authServer: "https://localhost/api/login",
   // USED to proxy react app into main server
   reactServer: "http://localhost:3000",
   
   database: 'browserexample',
   databaseConnection: 'mongodb://localhost:27017/',   

   // restrict registration to these email addresses (no restriction if empty)
   allowedUsers:[], // ['joe@here.com']
   // local oauth server
   // UPDATE REQUIRED for security, public website
   clientId:'test',  
   clientSecret:'testpass',
   // used on oauth consent screen when third party services ask for authorization
   clientName:'Test Client',
   clientWebsite:'https://localhost',
   clientPrivacyPage:'https://localhost/privacy',
   clientImage:''

}


